* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Titillium Web', sans-serif;
  color: #3D464D;
}

.header{
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.logo{
  margin: 0 17px 0 34px;
  width: 200px
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a{
  text-decoration: none;
  text-transform: uppercase;
  color: #3D464D;
}

.menu .menu-selected {
  background-color: #5068AE;
}

.menu .menu-selected a {
  color: #FFF;
}
