* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Titillium Web', sans-serif;
  color: #3D464D;
}

.header{
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.logo{
  margin: 0 17px 0 34px;
  width: 200px
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li{
  padding: 10px 8px;
}

.menu li:hover{
  font-weight: 600;
}

.menu a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #3D464D;
}

.menu .menu-selected {
  background-color: #5068AE;
  border-radius: 3px;
  font-weight: 400;
}

.menu .menu-selected:hover{
  font-weight: 400;
}

.menu .menu-selected a {
  color: #FFF;
}

.form {
  margin-left: auto;
  margin-right: 15px;
}

.form input{
  padding: 10px 15px;
  border: 1px solid #3D464D;
  border-radius: 3px;
}

.form input:focus {
  outline: none;
}

.user {
  display: flex;
  padding-right: 20px;
}

.user img{
  display: block;
  margin-right: 20px;
}

.role{
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 5px;
}
